
body{
    font-family:"Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}

ul,ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width:1158px;
    padding: 0 15px;
    margin: 0 auto;
}
section {
    padding: 120px 0;
    
}
                 /* #region HEADER */
.page-header{
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display:flex;
    align-items:center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    color:#4d5ae5;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo{
    margin-right: 76px;
    padding: 24px 0;
}
.header-logo .logo-part{
    color: #2e2f42;
    
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.nav-list{
    display:flex;
    align-items:center;
    gap:40px;
}

.nav-link{
    display: block;
    padding:24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contacts{
    margin-left:auto;
    font-style: normal;
}
.contacts-list{
    display: block;
    display:flex;
    align-items: center;
    padding:24px 0;
    gap:40px;
}
.contacts-link{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}


            /* #endregion HEADER */

                 /* #region HERO */
.hero {
    padding: 128px 0;
    background-color: #2e2f42;
    background-image:linear-gradient(to bottom,rgba(46, 47, 66, 0.4),rgba(46, 47, 66, 0.4)),url(../images/people-office.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    max-width: 1440px;
    margin:0 auto;
}
.hero-container{
    align-items: center;
}
.hero-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width:496px;
        margin: 0 auto;
        margin-bottom:48px;
}
.hero-btn{
        display: block;
        border-radius:4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        background-color: #4d5ae5;
        text-align: center;
        min-width:169px;
        height:56px;
        border:none;
        font-family:inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color:#404bbf;
    border:none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
                /* #endregion HERO */

                 /* #region FEATURES */

.feat-container{
       /* display:flex; */
}
.feat-icons-cont{
    display:flex;
    background-color:#f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom:8px;
    justify-content: center;
    align-items: center;
}
.feat-list{
    display:flex;
    gap:24px;
    flex-wrap: wrap;
}
.feat-list .icon{
    
}
.feat-item{
    width: calc((100% - 72px)/4);
    
}
.feat-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom:8px;
}
.feat-title-txt{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color:#434455;
}
               /* #endregion FEATURES */

                 /* #region OUR TEAM */

.team{
    background-color:#f4f4fd;
    max-width: 1440px;
        margin: 0 auto;
}
.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform:capitalize;
        margin-bottom:72px;
}
.team-list {
    display:flex;
    gap:24px;
    flex-wrap: wrap;
}


.team-item {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    
}
.team-item img{
     object-fit: cover;
    
}
.name-prof{
    padding:32px 0;
}
.name-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom:8px;
}

.prof-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom:8px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;

}
.social-list-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icons {
    fill: #f4f4fd;
}

           /* #endregion OUR TEAM */ 

                 /* #region OUR PORTFOLIO */

.portfolio {
    background-color:#FFFFFF;
    
}

.portfolio {
    background-color: #FFFFFF;
}

.port-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.port-list {
    display: flex;
    flex-wrap: wrap;

    row-gap: 48px;
    column-gap: 24px;

}

.ttl-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.port-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.port-cont-img {
    position: relative;
    overflow: hidden;

}




.port-cont-img-info {
    position: absolute;
    top: 0;
    /* left: 0; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.offers-ttl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.ofrs-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.port-item:hover .port-cont-img-info,
.port-item:focus .port-cont-img-info {
    transform: translateY(0%);
}

.port-item{
    cursor: pointer;
}
                 /* #endregion OUR PORTFOLIO */

                 /* #region FOOTER */

              
.page-footer {
    padding: 100px 0;
    background-color: #2e2f42;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;

}

.foot-logo-cont {
    margin-right: 120px;
}

.footer-logo {

    width: 115px;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-info {

    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}

.soc-med-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

}

.social-list-foot {
    display: flex;
    gap: 16px;

}

.social-list-item-foot {
    width: 40px;
    height: 40px;
}

.social-list-link-foot {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-foot:hover,
.social-list-link-foot:focus {
    background-color: #31d0aa;
}
                 /* #endregion FOOTER */















